/** Desktop 922 and above **/
/** Tablet 689 to 991 **/
/** Phone 688 and below **/

* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 18px;
}

header {
	box-shadow: 5px 5px 20px;
	margin-bottom: 25px;
	padding: 5px;
}

div {
	text-align: center;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em
}

button {
	font-size: 25px;
	width: 45%;
	height: 200px;
	margin: 15px;
}

button:hover {
	text-decoration: underline;
}

p {
	margin-bottom: 18px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul {
	list-style: none;
	display: inline-block;
}

li {
	display: inline;
	margin-left: 18px;
	margin-right: 18px;
}

#phone-number {
	float: right;
	margin: 10px;
	text-decoration: underline;
}

#pizzas-button {
	/** found here (https://pixabay.com/photos/pizza-plate-food-cheese-lunch-3010062/) **/
	background-image: url(https://cdn.pixabay.com/photo/2017/12/10/14/47/pizza-3010062_960_720.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

#salads-button {
	/** found here (https://pixabay.com/photos/salad-food-italian-tasty-wooden-2068220/) **/
	background-image: url(https://cdn.pixabay.com/photo/2017/02/15/10/39/salad-2068220_960_720.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

#wings-button {
	/** found here (https://pixabay.com/photos/barbecue-food-buffalo-wings-bbq-807734/) **/
	background-image: url(https://cdn.pixabay.com/photo/2015/06/13/05/49/barbecue-807734_960_720.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

#drinks-button {
	/** found here (https://pixabay.com/photos/soft-drink-soda-ice-glass-cold-4280835/) **/
	background-image: url(https://cdn.pixabay.com/photo/2019/06/17/20/13/soft-drink-4280835_960_720.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

@media (min-width: 922px) {
}