/** Desktop 922 and above **/
/** Tablet 689 to 991 **/
/** Phone 688 and below **/

* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 18px;
	font-weight: normal;
}

header {
	box-shadow: 5px 5px 20px;
	margin-bottom: 25px;
	padding: 5px;
	background-color: #F9C784;
}

div {
	text-align: center;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em
}

a.button {
	display: inline-block;
	border-style: outset;
	font-size: 25px;
	width: 40%;
	height: 200px;
	margin: 15px;
	padding: 15px
}

a.button:hover {
	text-decoration: underline;
	cursor: pointer;
}

a.button:active {
	border-style: inset;
}

p {
	margin-bottom: 18px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul {
	list-style: none;
	display: inline-block;
}

li {
	display: inline;
	margin-left: 18px;
	margin-right: 30px;
}

#phone-number {
	float: right;
	margin: 10px;
	text-decoration: underline;
}

#pizzas-button {
	/** found here (https://pixabay.com/photos/pizza-plate-food-cheese-lunch-3010062/) **/
	background-image: url(https://cdn.pixabay.com/photo/2017/12/10/14/47/pizza-3010062_960_720.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: left;
}

#salads-button {
	/** found here (https://pixabay.com/photos/salad-food-italian-tasty-wooden-2068220/) **/
	background-image: url(https://cdn.pixabay.com/photo/2017/02/15/10/39/salad-2068220_960_720.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: left;
	color: white;
}

#wings-button {
	/** found here (https://pixabay.com/photos/chicken-wings-food-plate-wing-5374788/) **/
	background-image: url(https://cdn.pixabay.com/photo/2020/07/05/23/04/chicken-5374788_960_720.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: right;
	color: white;
}

#drinks-button {
	/** found here (https://pixabay.com/photos/soft-drink-soda-ice-glass-cold-4280835/) **/
	background-image: url(https://cdn.pixabay.com/photo/2019/06/17/20/13/soft-drink-4280835_960_720.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: right;
	color: white;
}

@media (min-width: 922px) {

}